* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: rgb(29, 26, 26);
  --text-color: rgb(243, 240, 240);
  --border: rgb(186, 181, 181);
}
body {
  background-color: var(--background);
  color: var(--text-color);
}

h1 {
  margin: 3rem;
  text-align: center;
}
.search {
  padding: 2rem;
}

.search input {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
div.randomTop {
  /* background-color: var(--text-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* min- */
  width: 100%;
}
div.countries {
  border: 1px solid var(--border);
  border-radius: 3px;
  padding: 1rem;
  /* min-width: 200px; */

  height: 230px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0 1rem;
}

div.countries img {
  width: 150px;
}
p.countryName {
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
}
p.countryName:hover,
.apis a:hover {
  text-decoration: underline;
}
.randomChart {
  margin-top: 3rem;
  background-color: var(--background);
}
#myChart {
  background-color: var(--text-color);
  margin: 0 auto;
}

footer {
  margin-top: 5rem;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  font-family: var(--bold);
  background-color: rgb(37, 37, 37);
  color: var(--text-color);
}
.apis a {
  text-decoration: none;
  color: var(--text-color);
}
/* fotter */
